* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  position: relative;
  font-family: "Montserrat", sans-serif;
}
.center-text-over-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.bottom-centered-text-over-image {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.container {
  position: relative;
  text-align: center;
}
.overlay {
  opacity: 1;
}
header {
  position: relative;
  text-align: center;
  color: white;
}
.banner {
  width: 100%;
  height: 100%;
}
.logo-header {
  position: absolute;
  top: 8px;
  left: 16px;
  width: 5%;
  margin-left: 8%;
  margin-bottom: 20px;
}
.nav-bar {
  display: flex;
  position: absolute;
  top: 50px;
  right: 16px;
  justify-content: space-around;
  justify-items: auto;
  font-size: large;
  word-spacing: 1px;
  letter-spacing: 1px;
}
.nav-bar ul {
  list-style-type: none;
}
.nav-bar li {
  display: inline;
  margin-right: 20px;
}
.nav-bar-button {
  visibility: hidden;
}
.banner-text {
  position: absolute;
  bottom: 50%;
  left: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 8%;
}
.banner-text h1 {
  text-align: left;
  font-size: 3em;
  line-height: 150%;
}
.banner-text p {
  text-align: left;
  font-size: 1.5em;
  line-height: 150%;
}
.banner-text button {
  margin-top: 20px;
  width: 200px;
  background-color: transparent;
  border: solid white 2px;
  color: white;
  font-weight: bold;
  padding-top: 15px;
  padding-bottom: 15px;
}
.about {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 40px;
  padding: 5%;
}
.about .about-text {
  display: flex;
  flex-direction: column;
  padding-left: 15%;
  height: 100%;
}
.about .about-text h1 {
  font-size: 30px;
}
.about .about-text p {
  line-height: 150%;
  font-size: 20px;
}
.about .about-text img {
  width: 60%;
}
.room-types-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px;
}
.room-item {
  text-align: center;
  overflow: hidden;
  position: relative;
}
.room-item .room-item-info {
  transform: translateX(100%);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 0.5;
  display: flex;
  justify-items: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  transition: all 0.8s ease-in-out;
  color: white;
  line-height: 4em;
  background-color: #444446;
}
.room-item .room-item-info h1 {
  font-size: 3em;
}
.room-item .room-item-info h3 {
  font-size: 2em;
}
.room-item .room-item-info button {
  margin-top: 20px;
  width: 200px;
  background-color: transparent;
  border: solid white 3px;
  color: white;
  padding-top: 15px;
  padding-bottom: 15px;
  font-weight: bold;
  word-spacing: 1px;
}
.room-item:hover .room-item-info {
  transform: translateX(0);
}
.discover h1 {
  text-align: center;
  font-size: 30px;
}
.discover h3 {
  text-align: center;
}
.discover .discover-text {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  padding-left: 5%;
  padding-right: 5%;
  word-spacing: 1px;
  letter-spacing: 1px;
  line-height: 150%;
  font-size: larger;
}
.discover .discover-text p1 {
  font-weight: bold;
}
.discover .discover-button-container {
  padding-left: 5%;
}
.discover button {
  width: 200px;
  background-color: transparent;
  border: solid black 2px;
  color: black;
  font-weight: bold;
  padding-top: 15px;
  padding-bottom: 15px;
}
.discover button:hover {
  background-color: black;
  color: white;
}
.discover-images {
  display: flex;
  justify-content: space-evenly;
}
.discover-images img {
  width: 33.33%;
}
.promotion {
  height: 60%;
}
.promotion h1 {
  text-align: center;
  font-size: 3em;
}
.promotion h3 {
  text-align: center;
  font-size: 1.5em;
}
.promotion img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
}
.promotion img:hover {
  opacity: 1;
}
.promotion-images {
  display: flex;
  align-items: center;
}
.promotion-text h3 {
  text-wrap: nowrap;
}
.promotion-text a {
  font-size: larger;
  text-decoration: none;
}
.promotion-text a:link,
.promotion-text a:visited {
  color: white;
  text-decoration: none;
}
.promotion1 {
  position: relative;
  text-align: center;
  width: 33.33%;
}
.promotion2 {
  position: relative;
  text-align: center;
  width: 33.33%;
}
.promotion3 {
  position: relative;
  text-align: center;
  width: 33.33%;
}
.promotion-text {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
.comment h1 {
  text-align: left;
  font-size: 3em;
}
.comment h3 {
  text-align: left;
  font-size: 1.5em;
}
.comment-brochure {
  padding: 40px;
  box-sizing: border-box;
  display: grid;
  grid-template-areas: "txt img1 img2" "txt img1 img3";
  gap: 30px;
  background-color: #0f172b;
  color: white;
}
.comment-brochure .comment-texts {
  grid-area: txt;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.comment-brochure img {
  width: 100%;
  border-radius: 10px;
}
.comment-brochure button {
  margin-top: 20px;
  width: 200px;
  background-color: transparent;
  border: solid white 2px;
  color: white;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: large;
}
.comment-image-1 {
  grid-area: img1;
}
.comment-image-2 {
  grid-area: img2;
}
.comment-image-3 {
  grid-area: img3;
}
.footer-logo {
  display: flex;
  justify-content: center;
}
.footer-layout {
  display: flex;
  justify-content: space-between;
  justify-items: center;
  padding-left: 5%;
  padding-right: 5%;
}
.contact-info {
  line-height: 1.5em;
}
.contact-info h6 {
  font-size: medium;
}
.receive-news input {
  border-top: none;
  border-left: none;
  border-right: none;
}
.receive-news button {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  color: white;
  background-color: black;
}
.prizes-image {
  display: flex;
  height: 100px;
}
.copyright {
  font-size: larger;
  text-align: center;
  letter-spacing: 1px;
  word-spacing: 1px;
}
@media (max-width: 576px) {
  .mobile-horizontal-flex {
    display: flex;
    flex-direction: column;
  }
  .mobile-headers h1 {
    font-size: 20px;
  }
  .mobile-headers h3 {
    font-size: 13px;
  }
  .nav-bar ul {
    visibility: hidden;
  }
  .nav-bar .nav-bar-button {
    visibility: visible;
    padding-right: 50px;
  }
  .logo-header {
    width: 60px;
  }
  .banner-text {
    bottom: 10%;
  }
  .banner-text h1 {
    font-size: 2em;
  }
  .banner-text p {
    font-size: 1em;
  }
  .banner-text button {
    width: 150px;
    padding: 8px 0;
  }
  .about {
    display: flex;
    flex-direction: column;
  }
  .about .about-text {
    padding-left: 0;
  }
  .about .about-text h1 {
    font-size: 18px;
  }
  .about .about-text p {
    margin-top: 15px;
    font-size: 13px;
    line-height: 20px;
    word-spacing: 1px;
    text-align: justify;
  }
  .about .about-text img {
    width: 150px;
  }
  .about .about-images {
    order: -1;
  }
  .room-item .room-item-info {
    line-height: 2em;
  }
  .room-item .room-item-info h1 {
    font-size: 20px;
  }
  .room-item .room-item-info h3 {
    font-size: 13px;
  }
  .room-item .room-item-info button {
    width: 120px;
    padding: 8px 0;
    font-size: 9px;
  }
  .discover .discover-heading h1 {
    font-size: 20px;
  }
  .discover .discover-heading h3 {
    font-size: 13px;
  }
  .discover .discover-text {
    display: flex;
    flex-direction: column;
  }
  .discover .discover-text p1,
  .discover .discover-text p2 {
    font-size: 13px;
  }
  .discover .discover-images {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .discover .discover-images img {
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
  }
  .promotion h1 {
    font-size: 20px;
  }
  .promotion h3 {
    font-size: 13px;
  }
  .promotion .promotion-images {
    display: flex;
    flex-direction: column;
  }
  .promotion .promotion-images .promotion1 {
    width: 100%;
  }
  .promotion .promotion-images .promotion2 {
    width: 100%;
  }
  .promotion .promotion-images .promotion3 {
    width: 100%;
  }
  .promotion .promotion-images img {
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
  }
  .promotion .promotion-text h3 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  .comment h1 {
    font-size: 20px;
  }
  .comment h3 {
    font-size: 13px;
  }
  .comment .comment-brochure {
    display: flex;
    flex-direction: column;
  }
  .comment .comment-brochure button {
    width: 150px;
    padding: 8px 0;
    font-size: 9px;
  }
  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  footer .footer-logo {
    width: 100px;
  }
  footer .footer-logo img {
    width: 100%;
  }
  footer .footer-layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 12px;
  }
  footer .footer-layout .address {
    font-size: 12px;
    padding-bottom: 40px;
  }
  footer .footer-layout .contact-info {
    padding-bottom: 40px;
  }
  footer .footer-layout .contact-info h6 {
    font-size: 12px;
  }
  footer .footer-layout .receive-news {
    font-size: 12px;
    padding-bottom: 40px;
  }
  footer .footer-layout .prizes {
    padding-bottom: 40px;
  }
  footer .copyright {
    font-size: 16px;
    padding-bottom: 40px;
  }
}
/*# sourceMappingURL=./style.css.map */